numpy==1.21.6
PyYAML==6.0.2
tqdm==4.28.1
tensorboardX==2.6.2.2
termcolor==1.1.0
scikit-image==0.17.2
opencv-contrib-python==4.10.0.82
opencv-python==3.4.18.65
imageio==2.3.0
trimesh==3.8.15
plyfile==0.6
PyMCubes==0.1.4
pyglet==1.4.0b1
einops==0.8.0
pillow==8.2.0
chumpy
open3d==0.13.0
spconv-cu113==2.3.6